/.venv
# Environment and Credentials
.env
/OldLikeNew - Backend/.venv/firebase-credentials.json
*.json

# SQLite
*.db
*.sqlite
*.sqlite3

# Uploads
uploads/

# Python
__pycache__/

/OldLikeNew - Backend/.venv/

